
preventis_db/
__pycache__/
*.pyc

db_labse/
db_minilm/
db_labse/
db_e5/
db_distiluse/
db_bge_fr/
data/pdfs/
*.pdf
Thumbs.db

.venv/
Recommendation-system/.env
Recommendation-system/venv
Recommendation-system/chroma_db/
Recommendation-system/output/